@use "../global/config" as *;
body {
  font-family: $ff;
  font-size: 16px;
  font-weight: $medium;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1.3rem;
  font-weight: $extra-bold;
}

h2 {
  font-size: 1.2em;
}

p {
  opacity: 0.6;
  line-height: 1.4;
}
